[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "==3.8.3"
pre-commit = "==1.15.1"
dbus-python = "==1.2.16"
twine = "*"

[dev-packages]
dbus-next = "==0.2.3"

[requires]
python_version = "3.7"
